<p id="nav">
    <a href="../index.html">Home</a> |
    <a href="../scheme.html">Scheme Intro</a> |
    <a href="../blog.html" id="cursor">Blog</a> |
    <a href="https://ftp.gnu.org/gnu/artanis/">Download</a> |
    <a href="https://www.gnu.org/software/artanis/manual/">Document</a> |
    <a href="https://gitlab.com/hardenedlinux/artanis">Repo</a>
</p>
<script src="../js/hacker-mode.js"></script>
