@font-face {
    font-family: "Dune Rise";
    src: url("css/Dune_Rise.ttf")
}

@font-face {
    font-family: "ARCADE";
    src: url("css/ARCADE.TTF")
}

@font-face {
    font-family: "Monomod";
    src: url("css/Monomod.otf")
}

h1 {
    font-family: "Dune Rise";
    font-size: 48px;
    font-weight: normal;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

h2 {
    font-family: "Dune Rise";
    font-size: 45px;
    font-weight: normal;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

h3 {
    font-family: "Dune Rise";
    font-size: 43px;
    font-weight: normal;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

h4 {
    font-family: "Dune Rise";
    font-size: 40px;
    font-weight: normal;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

#nav {
    font-family: "Dune Rise";
    font-size: 20px;
    text-decoration: none;
}

#cursor {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: #bf2449;
}

a:visited {
    color: #BF2449;
}

body {
    font-family: "ARCADE";
    font-size: 35px;
    color: black;
    background-color: white;
    transition: all 1s ease;
}

pre.src {
    font-family: "Monomod", monospace;
    font-size: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background: rgba(19,32,27,0.87);
    color: #B8A991;
    border: 0;
}

#content {
    padding: 20px;
    transition: all 1s ease; /* Smooth transition for color */
}

.hacker-mode {
    font-size: 1.5em; /* Enlarges the font size */
    color: #61ed81; /* Final text color for hacker mode */
    background-color: rgba(19,32,27,0.87);
}
